DATABASE_URL="postgresql://postgres:JN09itF0r#oo@34.101.189.62:5432/sewapro_crm_chat_db?schema=public"
MASTER_API_KEY="your_master_api_key"

WAHA_URL="https://api-whatsapp-gateway.ziosewa.com"
WAHA_WEBHOOK_URL="https://api-crm.ziosewa.com/api/v1/webhooks/waha"
WAHA_API_KEY="waha_secret_key"

GCS_BUCKET="zio-sewa-storage"
GOOGLE_APPLICATION_CREDENTIALS="./itc-compro-project-credentials.json"

CLOUD_TASKS_QUEUE_PATH="projects/itc-compro-project/locations/asia-southeast2/queues/ziosewa-crm-queue"
CLOUD_RUN_URL="https://api-crm.ziosewa.com"